<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brom.listviewjsonapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".webViewActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brom.listviewjsonapp.FrogDetailsActivity" />

        </activity>
        <activity
            android:name=".About"
            android:label="About">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.brom.listviewjsonapp.MainActivity" />
        </activity>
        <activity
            android:name=".FrogDetailsActivity"
            android:label="Frog Details"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brom.listviewjsonapp.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>